.parallax-container {
    min-height: 300;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);    
}

.parallax-container .section {
    width: 100%;
}

#bottom-banner {
    width: 100%;
}

.tabs-content.carousel .carousel-item {
     
    height: 100%; 
}

.carousel {
    height: 100%;
}

header {
    height: 91%;
}

.container.left {
    width: 50%;
    top: 45%;
    position: absolute;
}
.active a{
    color: white !important;
    font-weight: 600;
    
}
nav ul li.active a{
    background-color: #ff3d00;
    color: white;
}

.big-text {
    font-size: 2em;
}
