.parallax-container {
    min-height: 300;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);    
  }
.parallax-container .section {
    width: 100%;
}
  
@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.parallax img { 
    width: 200em;
    height: auto;
}
  
.monospace {
    font-family: Courier-New, Courier, monospace;
}

#bottom-banner {
    width: 100%;
}

.tabs-content.carousel .carousel-item { height: 100%; }

.carousel {
    height: 100%;
}
  
  