
.height-100 {
    min-height: 100%;
}

.height-66 {
    min-height: 66%;
}


.carousel {
    min-height: 100%;
    -webkit-transition:width 500ms ease-in-out, height 500ms ease-in-out;
    -moz-transition:width 500ms ease-in-out, height 500ms ease-in-out;
    -o-transition:width 500ms ease-in-out, height 500ms ease-in-out;
    transition:width 500ms ease-in-out, height 500ms ease-in-out;
}

.carousel.carousel-slider .carousel-item {
    min-height: 100%;
    height: auto;
}

header {
    min-height: 92%;
}

#title {
    width: 50%;
    top: 45%;
    position: absolute;
}
.active .nav-link{
    color: white !important;
    font-weight: 600;
    
}
nav ul li.active a{
    background-color: #ff3d00;
    color: white;
}

.big-text {
    font-size: 2em;
}

.height100 {
    min-height: 100%;
}

.container {
    padding: 1.5em;
}

.padding-1 {
    padding: 0.75em 0em 0em 0em;
}

.bold-text {
    font-weight: 600;
}

@media only screen and (max-width : 768px) {
    .parallax img {
      max-height: 130%; /* or a little bit higher */
    }
    #scrolledTitle {
        display: none;
    }
    html {
        font-size: 12px;
    }
    #title {
        width: 100%;
    }
    ul.right {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .nav-item {
        width: 25%;
        text-align: center;
    }
    .card {
        width: 100%;
    }
    .container {
        padding: 0.75em 0.75em;
    }
  }
  
@media only screen and (min-width: 768px) {
    .parallax img {
      max-height: 170%; /* or higher percentages. It's up to your taste */
    }
}
  